{% load static %}
<html>
<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>

    <!-- Navbar goes here -->
    <nav>
        <div class="nav-wrapper red darken-1">
            <a href="http://www.griet.ac.in/" class="brand-logo"><img height="60" width="300" src="{% static 'images/GRIET_Logo.png' %}  " /></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="http://www.griet.ac.in/">Contact Us</a></li>
            </ul>
        </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row blue lighten-4">

        <div class="col s10 m3 blue-grey darken-1">

            <!-- Grey navigation panel -->
            <!-- Card -->

            <div class="row">
                <div class="col">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">PNEUMONIA CLASSIFICATION</span>
                            <p>
                                The Ultimate motive of this project is to predict pneumonia using an X-ray image, Any certified doctor
                                can come up and verify if pneumonia case is possible or not.
                            </p>
                        </div>
                        <div class="card-action">
                            <a href="#">LOGIN</a>
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <br /><br />
            <br /><br /><br />
            <br /><br /><br />
            <br /><br />
            <br /><br /><br />
            <br /><br /><br />
            <br /><br />
            <br /><br /><br />

        </div>
        <div class="col s9 m2 ">

        </div>
        <div class="col s9 m3 ">
            <!-- Teal page content  --><br /><br />
            <strong style="color:dimgrey">Login:</strong><br />
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Submit
                    <i class="material-icons right"></i>
                </button>
            </form><br />

            {% if auth == "No" %}
            <strong style="color:red">INVALID USERNAME/PASSWORD!!</strong>
            {% endif %}
        </div>



                       <!--<div class="video-container z-depth-5" style="display:flex;justify-content:center;">
        <iframe width="1000" height="600" src="https://www.youtube.com/embed/uuZE_IRwLNI" frameborder="0" allow="accelerometer;
                autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>-->

                   </div>

    </div>
</body>
</html>